body {
  font-family: roboto;
  margin: 0;
}

footer,
header,
nav {
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h2 {
  color: #f9faf8;
  font-size: 24px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

header p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
}

header {
  display: flex;
  flex-direction: row;
  height: 470px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero {
  max-width: 430px;
}
.image-placeholder {
  background-color: #6c747d;
  height: 230px;
  width: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information h2 {
  font-size: 36px;
  color: #1f2937;
}

.information p {
  color: #737679;
  font-size: 17px;
}

.testimonial {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  width: 800px;
}

.signature {
  font-size: 23px;
  color: #1f2937;
  display: flex;
  justify-content: end;
}

.sign-up {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 1050px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.sign-up h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 0;
}

.sign-up p {
  color: #e5e7eb;
  margin-top: 0;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
  padding: 7px 25px;
}

header button {
  border: #3882f6;
}

.sign-up button {
  border: solid 2px white;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 18px;
  color: #cacfd6;
}
